<!DOCTYPE html>
<html>
<head>
    <title>Backbone Bootstrap Single Page CRM</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/css/styles.css')}}">
</head>
<body>
    <div id="app-container"></div>

    <script data-main="{{url_for('static', filename='js/build/app.js')}}" src="{{url_for('static', filename='js/vendor/require.js')}}"></script>
</body>
</html>