/**********************
 *   variables        *
 **********************/
$border_grey: #CECECE;

/**
 * TODO: use mixins for repetitive border and
 * padding definitions.
 */

.header {
  display: flex;
  align-items: center;
  align-content: space-between;
  width: 100%;
  height: 70px;
  background: #004377;
  color: #FFF;

  .logged-out {
    display: inline-block;
  }

  .logged-in {
    display: none;
  }

  &.logged-in {
    .logged-in {
      display: inline-block;
    }

    .logged-out {
      display: none;
    }
  }

  .header-text {
    margin-top: 10px;
    display: inline-block;
  }

  .menu-items {
    position: absolute;
    right: 30px;
    top: 15px;
    display: inline-block;
  }
}

.sortable-table.table {

  border: 1px solid $border_grey;

  .table-row {
    &:hover {
      cursor: pointer;
    }
  }

  .table-head {
    .header-text {
      padding-left: 20px;
    }

    &:hover {
      cursor: pointer;
    }

    .fa {
      float: left;
      color: grey;
      display: none;
    }
  }

  th.sorting {
    .fa {
      color: black;
    }
  }

  th.sort-asc {
    .fa.fa-sort-alpha-asc,
    .fa.fa-sort-numeric-asc {
    display: inline-block;
    }
  }

  th.sort-desc {
    .fa.fa-sort-alpha-desc,
    .fa.fa-sort-numeric-desc {
    display: inline-block;
    }
  }
}

.user-details-view {

  .editing {
    display: none;
  }

  &.editing-mode {
    // when entering editing mode, toggle visibility of editable and editing
    .editable {
      display: none;
    }

    .editing {
      display: inline-block;
    }
  }
}

/**
 * TODO:
 *   Try not to add rules for .modal-content, because it is a Bootstrap
 *   class, and any rules we add here is overriding the bootstrap styles
 */
.modal-content {
  background: #FFF;
  margin-top: 10%;
  margin-bottom: 10%;
  min-width: 50%;
  max-width: 60%;
  padding: 10px;
  overflow: scroll;
}


/**
 * Bootstrap override
 */

.details-form {
  border: 1px solid $border_grey;
  padding: 5px;

  .form-group {
    overflow: hidden;
    min-height: 40px;
  }
}

/**
 * For HTML components
 */
.options {
  /**
   * This is for the HTML <select> tag
   */
  background: transparent;
}