<h3>
  <i class="fa fa-users"></i>
  <span>User List</span>
</h1>
<table id="user-table" class="user-table sortable-table data-table table table-hover">
  <thead>
    <tr>
      <th data-name="fullname" class="SortableHead sort-asc table-head">
        <span class="header-text">Fullname</span>
        <i class="fa fa-sort-alpha-asc"></i>
        <i class="fa fa-sort-alpha-desc"></i>
      </th>
      <th data-name="email" class="SortableHead sort-asc table-head">
        <span class="header-text">Email</span>
        <i class="fa fa-sort-alpha-asc"></i>
        <i class="fa fa-sort-alpha-desc"></i>
      </th>
      <th data-name="type" class="SortableHead sort-asc table-head">
        <span class="header-text">Type</span>
        <i class="fa fa-sort-alpha-asc"></i>
        <i class="fa fa-sort-alpha-desc"></i>
      </th>
      <th data-name="organization" class="SortableHead sort-asc table-head">
        <span class="header-text">Organization</span>
        <i class="fa fa-sort-alpha-asc"></i>
        <i class="fa fa-sort-alpha-desc"></i>
      </th>
      <th data-name="created_at" class="SortableHead sort-desc sorting table-head">
        <span class="header-text">Registered Date</span>
        <i class="fa fa-sort-numeric-asc"></i>
        <i class="fa fa-sort-numeric-desc"></i>
      </th>
    </tr>
  </thead>

  <tbody class="table-data"></tbody>
</table>
