<h1>User List</h1>
<table id="user-table" class="user-table sortable-table data-table ui table celled">
  <thead>
    <tr>
      <th class="fullname sort-asc">
        <span class="header-text">Fullname</span>
        <i class="fa fa-sort-alpha-asc"></i>
        <i class="fa fa-sort-alpha-desc"></i>
      </th>
      <th class="email sort-asc">
        <span class="header-text">Email</span>
        <i class="fa fa-sort-alpha-asc"></i>
        <i class="fa fa-sort-alpha-desc"></i>
      </th>
      <th class="type sort-asc">
        <span class="header-text">Type</span>
        <i class="fa fa-sort-alpha-asc"></i>
        <i class="fa fa-sort-alpha-desc"></i>
      </th>
      <th class="organization sort-asc">
        <span class="header-text">Organization</span>
        <i class="fa fa-sort-alpha-asc"></i>
        <i class="fa fa-sort-alpha-desc"></i>
      </th>
      <th class="created_at sorting sort-desc">
        <span class="header-text">Registered Date</span>
        <i class="fa fa-sort-numeric-asc"></i>
        <i class="fa fa-sort-numeric-desc"></i>
      </th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody class="table-data"></tbody>
</table>
